@using Entities.Dtos;
@model LoginAuthDto
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DentalApp - Giriş Ekranı</title>

    <!-- Global stylesheets -->
    <link href="~/content/Limitless-40/assets/fonts/inter/inter.css" rel="stylesheet" type="text/css">
    <link href="~/content/Limitless-40/assets/icons/phosphor/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/content/Limitless-40/html/layout_1/full/assets/css/ltr/all.min.css" id="stylesheet" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    @*<script src="../../../assets/demo/demo_configurator.js"></script>*@
    <script src="~/content/Limitless-40/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/content/Limitless-40/html/layout_1/full/assets/js/app.js"></script>
    <script src="~/content/Limitless-40/assets/demo/pages/form_validation_styles.js"></script>
    <!-- /theme JS files -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <style>
        label.error {
            color: red;
        }

        input.error {
            border: 1px solid red;
        }
    </style>
</head>

<body>

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Content area -->
                <div class="content d-flex justify-content-center align-items-center">

                    <!-- Login card -->
                    <form class="login-form" action="\Account\Login" method="post">
                        <input asp-for="ReturnUrl" value="@Model.ReturnUrl" type="hidden" class="form-control">
                        <div class="card mb-0">
                            <div class="card-body">
                                <div class="text-center mb-3">
                                    <div class="d-inline-flex align-items-center justify-content-center mb-4 mt-2">
                                        <img src="~/content/Limitless-40/assets/images/logo_icon.svg" class="h-48px" alt="">
                                    </div>
                                    <h5 class="mb-0">Hesap Giriş Ekranı</h5>
                                    <span class="d-block text-muted">Kimlik bilgilerinizi aşağıya girin</span>
                                </div>
                                
                                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                {
                                    <div class="text-danger">@error.ErrorMessage</div>
                                }
                                <div class="mb-3">
                                    <label class="form-label">Mail Adresi</label>
                                    <div class="form-control-feedback form-control-feedback-start">
                                        <input asp-for="Email" value="@Model.Email" type="text" class="form-control" placeholder="info@dentalapp.com">
                                        <div class="form-control-feedback-icon">
                                            <i class="ph-user-circle text-muted"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Şifre</label>
                                    <div class="form-control-feedback form-control-feedback-start">
                                        <input asp-for="Password" value="@Model.Password" type="password" class="form-control" placeholder="•••••••••••">
                                        <div class="form-control-feedback-icon">
                                            <i class="ph-lock text-muted"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center mb-3">
                                    <label class="form-check">
                                        <input type="checkbox" name="remember" class="form-check-input" checked>
                                        <span class="form-check-label">Hatırla</span>
                                    </label>

                                    <a href="login_password_recover.html" class="ms-auto">Şifremi Unuttum?</a>
                                </div>

                                <div class="mb-3">
                                    <button type="submit" class="btn btn-primary w-100">Giriş Yap</button>
                                </div>

                                @*<div class="text-center text-muted content-divider mb-3">
                                <span class="px-2">or sign in with</span>
                                </div>*@

                                @*<div class="text-center mb-3">
                                <button type="button" class="btn btn-outline-primary btn-icon rounded-pill border-width-2"><i class="ph-facebook-logo"></i></button>
                                <button type="button" class="btn btn-outline-pink btn-icon rounded-pill border-width-2 ms-2"><i class="ph-dribbble-logo"></i></button>
                                <button type="button" class="btn btn-outline-secondary btn-icon rounded-pill border-width-2 ms-2"><i class="ph-github-logo"></i></button>
                                <button type="button" class="btn btn-outline-info btn-icon rounded-pill border-width-2 ms-2"><i class="ph-twitter-logo"></i></button>
                                </div>*@

                                <div class="text-center text-muted content-divider mb-3">
                                    <span class="px-2">Hesap Sahibi değil misin?</span>
                                </div>

                                <div class="mb-3">
                                    <a href="#" class="btn btn-light w-100">Kaydol</a>
                                </div>

                                <span class="form-text text-center text-muted">Devam ederek,<a href="#">Şarlar &amp; Koşullarımızı</a> ve <a href="#">Çerez Politikamızı</a> okuduğunuzu onaylıyorsunuz.</span>
                            </div>
                        </div>
                    </form>
                    <!-- /login card -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->
    <script>
        //$.validator.addMethod("email_available", function (value) {
        //    return true;
        //}, 'Email adresi sistemde kayıtlı değil!');

        $(".login-form").validate({
            rules: {
                Email: {
                    required: true,
                    email: true
                    //email_available: true
                },
                Password: {
                    required: true,
                    minlength: 6
                }
            },
            messages: {
                Email: {
                    required: "Lütfen e-posta adresinizi girin",
                    email: "Lütfen geçerli bir e-posta adresi girin"
                },
                Password: {
                    required: "Lütfen şifrenizi girin",
                    minlength: "Şifreniz en az 6 karakter olmalıdır"
                }
            }
        });
    </script>
</body>
</html>
