@using Entities.Dtos;
@{
    ViewData["Title"] = "Rol";
}
@model List<RoleViewModelDto>
@section head {
    <!-- Global stylesheets -->
    <link href="~/content/Limitless-40/assets/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Theme JS files -->
    <script src="~/content/Limitless-40/assets/js/jquery/jquery.min.js"></script>
    <script src="~/content/Limitless-40/assets/js/vendor/tables/datatables/datatables.min.js"></script>
    <script src="~/content/Limitless-40/assets/js/vendor/tables/datatables/extensions/buttons.min.js"></script>
    <script src="~/content/Limitless-40/assets/demo/pages/datatables_extension_buttons_init.js"></script>
    <!-- /theme JS files -->

    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

    <style>
        label.error {
            color: red;
        }

        input.error {
            border: 1px solid red;
        }
    </style>
}
<!-- Custom button -->
<div class="card">
    <div class="card-header">
        <h5 class="mb-0">Rol Listesi</h5>
    </div>

    <table class="table datatable-button-new-rol">
        <thead>
            <tr>
                <th>Rol Id</th>
                <th>Rol Adı</th>
                <th class="text-center">Seçenek</th>
            </tr>
        </thead>
        <tbody>
            @foreach (RoleViewModelDto u in Model)
            {
                <tr>
                    <td>@u.Id</td>
                    <td>@u.Name</td>
                    <td class="text-center">
                        <div class="d-inline-flex">
                            <div class="dropdown">
                                <a href="#" class="text-body" data-bs-toggle="dropdown">
                                    <i class="ph-list"></i>
                                </a>

                                <div class="dropdown-menu dropdown-menu-end">
                                    <a style="cursor:pointer;" class="dropdown-item update_modal" data-name="@u.Name" data-id="@u.Id">
                                        <i class="far fa-edit me-2"></i>
                                        Düzenle
                                    </a>
                                    <a href="\Admin\DeleteRol\@u.Id" onclick="return confirm('Silmek istediğinizden emin misiniz?')" class="dropdown-item">
                                        <i class="far fa-times-circle me-2"></i>
                                        Sil
                                    </a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!-- /custom button -->
<!-- Basic modal -->
<div id="modal_default" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form id="create-form" action="\Admin\CreateRol" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Rol Ekle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div class="row mb-3">
                        <label class="col-md-4 col-form-label">Rol Adı</label>
                        <div class="col-md-8">
                            <input name="name" type="text" class="form-control">
                            @*<div class="form-text text-muted">Here goes your name</div>*@
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" id="targetclick" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /basic modal -->
<!-- Update modal -->
<div id="modal_update" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form id="update-form" action="\Admin\UpdateRol" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Rol Düzenle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div class="row mb-3">
                        <label class="col-md-4 col-form-label">Rol Adı</label>
                        <div class="col-md-8">
                            <input id="update_id" name="id" type="hidden" class="form-control">
                            <input id="update_name" name="name" type="text" class="form-control">
                            @*<div class="form-text text-muted">Here goes your name</div>*@
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" id="targetclick" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Update modal -->
<script>
    $.validator.addMethod("role_available", function (value) {
        var available = false;
        console.log(value);
        $.ajax({
            async: false,
            type: "POST",
            url: "/Admin/RolAvailable",
            data: { rol: value },
            success: function myfunction(data) {
                if (data) {
                    available = false;
                }
                else {
                    available = true;
                }
            },
            error: function myfunction() {
                alert("error");
            }
        });
        return available;
    }, 'Rol ismi sistemde kayıtlı!');
    $("#create-form").validate({
        rules: {
            name: {
                required: true,
                role_available: true
            }
        },
        messages: {
            name: {
                required: "Lütfen rol adı giriniz"
            }
        }
    });
    $("#update-form").validate({
        rules: {
            name: {
                required: true,
                role_available: true
            }
        },
        messages: {
            name: {
                required: "Lütfen rol adı giriniz"
            }
        }
    });
</script>

<script>
    $(document).ready(function () {
        $('.datatable-button-new-rol').DataTable({
            buttons: [
                {
                    text: '<i class="fas fa-plus-circle"></i> Rol Ekle',
                    className: 'btn btn-teal',
                    action: function (e, dt, node, config) {
                        $("#modal_default").modal('show');
                    }
                }
            ]
        });
    });
</script>

@*<script>
    $("#targetclick").click(function () {
        alert($("#rol_name").val());
        $("#modal_default").modal('toggle');
    });
</script>*@

<script>
    $(".update_modal").click(function () {
        var name = $(this).data("name");
        var id = $(this).data("id");
        $("#update_id").val(id);
        $("#update_name").val(name);
        $("#modal_update").modal('show');
    });

</script>