@{
    ViewData["Title"] = "Teeth";
}
    <div class="container">
        @*<div class="screen"></div>*@
        <div class="row">
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
        </div>
        <div class="row">
            <div class="teets d-18"></div>
            <div class="teets d-17"></div>
            <div class="teets d-16"></div>
            <div class="teets d-15"></div>
            <div class="teets d-14"></div>
            <div class="teets d-13"></div>
            <div class="teets d-12"></div>
            <div class="teets d-11"></div>
            <div class="teets d-21"></div>
            <div class="teets d-22"></div>
            <div class="teets d-23"></div>
            <div class="teets d-24"></div>
            <div class="teets d-25"></div>
            <div class="teets d-26"></div>
            <div class="teets d-27"></div>
            <div class="teets d-28"></div>
        </div>
        <div class="row">
            <div class="teets"></div>
            <div class="teets"></div>
            <div class="teets"></div>
            <div class="teets"></div>
            <div class="teets"></div>
            <div class="teets"></div>
            <div class="teets"></div>
            <div class="teets"></div>
            <div class="teets"></div>
            <div class="teets"></div>
            <div class="teets"></div>
            <div class="teets"></div>
            <div class="teets"></div>
            <div class="teets"></div>
            <div class="teets"></div>
            <div class="teets"></div>
        </div>
        <div class="row">
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
            <div class="numbr"></div>
        </div>
    </div>

    <div class="movie-list">
        <select id="movie">
            <option disabled>Film Seçiniz</option>
            <option value="20">movie 1</option>
            <option value="22">movie 2</option>
            <option value="25">movie 3</option>
        </select>
    </div>

    <ul class="info">
        <li>
            <div class="seat selected"></div>
            <small>Seçili</small>
        </li>
        <li>
            <div class="seat"></div>
            <small>Boş</small>
        </li>
        <li>
            <div class="seat reserved"></div>
            <small>Dolu</small>
        </li>
    </ul>

    <p class="text">
        <span id="count">3</span> adet koltuk için hesaplanan ücret <span id="amount">60</span> TL.
    </p>

<table class="table tbl-teeth">
            <tbody>
            <tr>
                <td class="top-left or-teet-bg">
                    <table id="daimiTable" class="table tbl-teeth">
                        <tbody>
                        <tr>
                            <td class="top-left or-teet-bg">
                                <div class="teeth-bg or-teet-line-top">
                                    <table class="table or-teets">
                                        <tbody>
                                        <tr>
                                            <th><a href="#" class="tooth-note " data-dis-no="18" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="top" data-original-title="">18</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="17" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="top" data-original-title="">17</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="16" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="top" data-original-title="">16</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="15" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="top" data-original-title="">15</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="14" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="top" data-original-title="">14</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="13" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="top" data-original-title="">13</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="12" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="top" data-original-title="">12</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="11" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="top" data-original-title="">11</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="21" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="top" data-original-title="">21</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="22" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="top" data-original-title="">22</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="23" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="top" data-original-title="">23</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="24" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="top" data-original-title="">24</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="25" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="top" data-original-title="">25</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="26" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="top" data-original-title="">26</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="27" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="top" data-original-title="">27</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="28" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="top" data-original-title="">28</a></th>
                                        </tr>
                                        <tr>
                                            <td><div class="teets d-18"></div></td>
                                            <td><a href="javascript:void(0);" class="d-17" data-id="17" data-kanal="3" data-kok="3"><span class="or-d-17"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-16" data-id="16" data-kanal="3" data-kok="3"><span class="or-d-16"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-15" data-id="15" data-kanal="1" data-kok="1"><span class="or-d-15"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-14" data-id="14" data-kanal="2" data-kok="2"><span class="or-d-14"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-13" data-id="13" data-kanal="1" data-kok="1"><span class="or-d-13"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-12" data-id="12" data-kanal="1" data-kok="1"><span class="or-d-12"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-11" data-id="11" data-kanal="1" data-kok="1"><span class="or-d-11"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-21" data-id="21" data-kanal="1" data-kok="1"><span class="or-d-21"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-22" data-id="22" data-kanal="1" data-kok="1"><span class="or-d-22"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-23" data-id="23" data-kanal="1" data-kok="1"><span class="or-d-23"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-24" data-id="24" data-kanal="2" data-kok="2"><span class="or-d-24"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-25" data-id="25" data-kanal="1" data-kok="1"><span class="or-d-25"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-26" data-id="26" data-kanal="3" data-kok="3"><span class="or-d-26"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-27" data-id="27" data-kanal="3" data-kok="3"><span class="or-d-27"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-28" data-id="28" data-kanal="3" data-kok="3"><span class="or-d-28"></span></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="bottom-left or-teet-bg">
                                <div class="teeth-bg or-teet-line-bottom">
                                    <table class="table or-teets">
                                        <tbody>
                                        <tr>
                                            <td><a href="javascript:void(0);" class="d-48" data-id="48" data-kanal="3" data-kok="2"><span class="or-d-48"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-47" data-id="47" data-kanal="3" data-kok="2"><span class="or-d-47"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-46" data-id="46" data-kanal="3" data-kok="2"><span class="or-d-46"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-45" data-id="45" data-kanal="1" data-kok="1"><span class="or-d-45"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-44" data-id="44" data-kanal="1" data-kok="1"><span class="or-d-44"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-43" data-id="43" data-kanal="1" data-kok="1"><span class="or-d-43"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-42" data-id="42" data-kanal="1" data-kok="1"><span class="or-d-42"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-41" data-id="41" data-kanal="1" data-kok="1"><span class="or-d-41"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-31" data-id="31" data-kanal="1" data-kok="1"><span class="or-d-31"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-32" data-id="32" data-kanal="1" data-kok="1"><span class="or-d-32"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-33" data-id="33" data-kanal="1" data-kok="1"><span class="or-d-33"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-34" data-id="34" data-kanal="1" data-kok="1"><span class="or-d-34"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-35" data-id="35" data-kanal="1" data-kok="1"><span class="or-d-35"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-36" data-id="36" data-kanal="3" data-kok="2"><span class="or-d-36"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-37" data-id="37" data-kanal="3" data-kok="2"><span class="or-d-37"></span></a>
                                            </td>
                                            <td><a href="javascript:void(0);" class="d-38" data-id="38" data-kanal="3" data-kok="2"><span class="or-d-38"></span></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th><a href="#" class="tooth-note " data-dis-no="48" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="bottom" data-original-title="">48</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="47" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="bottom" data-original-title="">47</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="46" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="bottom" data-original-title="">46</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="45" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="bottom" data-original-title="">45</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="44" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="bottom" data-original-title="">44</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="43" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="bottom" data-original-title="">43</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="42" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="bottom" data-original-title="">42</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="41" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="bottom" data-original-title="">41</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="31" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="bottom" data-original-title="">31</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="32" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="bottom" data-original-title="">32</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="33" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="bottom" data-original-title="">33</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="34" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="bottom" data-original-title="">34</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="35" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="bottom" data-original-title="">35</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="36" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="bottom" data-original-title="">36</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="37" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="bottom" data-original-title="">37</a></th>
                                            <th><a href="#" class="tooth-note " data-dis-no="38" data-note="15.07.2022 " data-toggle="modal" data-target="#dis-notu-modal" aria-hidden="true" title="" data-tooltip="tooltip" data-placement="bottom" data-original-title="">38</a></th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
