@{
    ViewData["Title"] = "Teeth";
}

<div class="container">
                        <table class="tbl-teeth" style="text-align: center;">
                            <tbody>
                                <tr>
                                    <td>
                                        <div>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <th><b>55</b></th>
                                                        <th><b>54</b></th>
                                                        <th><b>53</b></th>
                                                        <th><b>52</b></th>
                                                        <th><b>51</b></th>
                                                        <th><b>61</b></th>
                                                        <th><b>62</b></th>
                                                        <th><b>63</b></th>
                                                        <th><b>64</b></th>
                                                        <th><b>65</b></th>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="teets d-55"></div>
                                                        </td>
                                                        <td>
                                                            <div class="teets d-54"></div>
                                                        </td>
                                                        <td>
                                                            <div class="teets d-53"></div>
                                                        </td>
                                                        <td>
                                                            <div class="teets d-52"></div>
                                                        </td>
                                                        <td>
                                                            <div class="teets d-51"></div>
                                                        </td>
                                                        <td>
                                                            <div class="teets d-61"></div>
                                                        </td>
                                                        <td>
                                                            <div class="teets d-62"></div>
                                                        </td>
                                                        <td>
                                                            <div class="teets d-63"></div>
                                                        </td>
                                                        <td>
                                                            <div class="teets d-64"></div>
                                                        </td>
                                                        <td>
                                                            <div class="teets d-65"></div>
                                                        </td>                                                        
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="teets d-85"></div>
                                                        </td>
                                                        <td>
                                                            <div class="teets d-84"></div>
                                                        </td>
                                                        <td>
                                                            <div class="teets d-83"></div>
                                                        </td>
                                                        <td>
                                                            <div class="teets d-82"></div>
                                                        </td>
                                                        <td>
                                                            <div class="teets d-81"></div>
                                                        </td>
                                                        <td>
                                                            <div class="teets d-71"></div>
                                                        </td>
                                                        <td>
                                                            <div class="teets d-72"></div>
                                                        </td>
                                                        <td>
                                                            <div class="teets d-73"></div>
                                                        </td>
                                                        <td>
                                                            <div class="teets d-74"></div>
                                                        </td>
                                                        <td>
                                                            <div class="teets d-75"></div>
                                                        </td>                                                       
                                                    </tr>
                                                    <tr>
                                                        <th><b>85</b></th>
                                                        <th><b>84</b></th>
                                                        <th><b>83</b></th>
                                                        <th><b>82</b></th>
                                                        <th><b>81</b></th>
                                                        <th><b>71</b></th>
                                                        <th><b>72</b></th>
                                                        <th><b>73</b></th>
                                                        <th><b>74</b></th>
                                                        <th><b>75</b></th>                                                        
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>




                    </div>