@{
    ViewData["Title"] = "Teeth";
}


    <table class="tbl-teeth" style="text-align: center;">
        <tbody>
            <tr>
                <td>
                    <div>
                        <table>
                            <tbody>
                                <tr>
                                    <th><b>18</b></th>
                                    <th><b>17</b></th>
                                    <th><b>16</b></th>
                                    <th><b>15</b></th>
                                    <th><b>14</b></th>
                                    <th><b>13</b></th>
                                    <th><b>12</b></th>
                                    <th><b>11</b></th>
                                    <th><b>21</b></th>
                                    <th><b>22</b></th>
                                    <th><b>23</b></th>
                                    <th><b>24</b></th>
                                    <th><b>25</b></th>
                                    <th><b>26</b></th>
                                    <th><b>27</b></th>
                                    <th><b>28</b></th>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="teets d-18"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-17"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-16"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-15"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-14"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-13"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-12"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-11"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-21"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-22"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-23"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-24"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-25"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-26"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-27"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-28"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="teets d-48"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-47"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-46"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-45"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-44"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-43"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-42"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-41"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-31"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-32"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-33"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-34"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-35"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-36"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-37"></div>
                                    </td>
                                    <td>
                                        <div class="teets d-38"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <th><b>48</b></th>
                                    <th><b>47</b></th>
                                    <th><b>46</b></th>
                                    <th><b>45</b></th>
                                    <th><b>44</b></th>
                                    <th><b>43</b></th>
                                    <th><b>42</b></th>
                                    <th><b>41</b></th>
                                    <th><b>31</b></th>
                                    <th><b>32</b></th>
                                    <th><b>33</b></th>
                                    <th><b>34</b></th>
                                    <th><b>35</b></th>
                                    <th><b>36</b></th>
                                    <th><b>37</b></th>
                                    <th><b>38</b></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
