@{
    string selectedPage = Context.Request.Path;
    string isactive = "";
}
@if (User.IsInRole("admin"))
{
    <li class="nav-item-header pt-0">
        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">ADMIN</div>
        <i class="ph-dots-three sidebar-resize-show"></i>
    </li>
    <li class="nav-item">
        <a href="\Home\Index" class="nav-link @{
        isactive=(selectedPage == "/Home/Index" || selectedPage=="/" ) ? "active" : "";
        @isactive
;
} ">
            <i class="ph-house"></i>
            <span>
                Dashboard
                <span class="d-block fw-normal opacity-50">No pending orders</span>
            </span>
        </a>
    </li>
    <li class="nav-item nav-item-submenu">
        <a href="#" class="nav-link">
            <i class="ph-user-focus"></i>
            <span>Kullanıcı İşlemleri</span>
        </a>
        <ul class="nav-group-sub @{
                isactive=(selectedPage=="/Admin/Users" || selectedPage=="/Admin/Rol") ? "" : "collapse";
                            @isactive
;
}">
            <li class="nav-item"><a href="\Admin\Users" class="nav-link @{
                isactive=(selectedPage == "/Admin/Users") ? "active" : "";
                @isactive
;
}">Kullanıcı Listesi</a></li>
            <li class="nav-item"><a href="\Admin\Rol" class="nav-link @{
                isactive=(selectedPage == "/Admin/Rol") ? "active" : "";
                @isactive
;
}">Rol Listesi</a></li>
        </ul>
    </li>    
    <li class="nav-item nav-item-submenu">
        <a href="#" class="nav-link">
            <i class="ph-heartbeat"></i>
            <span>Varsayılan Diagnoz</span>
        </a>
        <ul class="nav-group-sub @{
                isactive=(selectedPage.Contains("/Admin/Diagnoz")) ? "" : "collapse";
                        @isactive
;
}">
            <li class="nav-item">
                <a href="\Admin\DiagnozCategory" class="nav-link @{
                isactive=(selectedPage=="/Admin/DiagnozCategory") ? "active" : "";
                    @isactive
;
}">Diagnoz Kategori</a>
            </li>
            <li class="nav-item">
                <a href="\Admin\DiagnozList" class="nav-link @{
                isactive=(selectedPage=="/Admin/DiagnozList") ? "active" : "";
                    @isactive
;
}">Diagnoz Listesi</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a href="\Admin\TDB" class="nav-link @{
        isactive=(selectedPage == "/Admin/TBD") ? "active" : "";
            @isactive
;
} ">
            <i class="ph-book-bookmark"></i>
            <span>
                TDB Fiyat listesi Kaydetme
            </span>
        </a>
    </li>
}
@if (User.IsInRole("Hasta Modülü.Read"))
{
    <li class="nav-item">
        <a href="\Patient\Index" class="nav-link @{
        isactive=(selectedPage == "/Patient/Index") ? "active" : "";
        @isactive
;
} ">
            <i class="ph-person"></i>
            <span>
                Hasta
            </span>
        </a>
    </li>
}
@if (User.IsInRole("Hasta Modülü » Randevu Ekranı.Read"))
{
    <li class="nav-item">
        <a href="\" class="nav-link @{
        isactive=(selectedPage == "/") ? "active" : "";
        @isactive
;
} ">
            <i class="ph-calendar"></i>
            <span>
                Randevular
            </span>
        </a>
    </li>
}
@if (User.IsInRole("Muhasebe » Gider Ekranı.Read"))
{
    <li class="nav-item">
        <a href="\" class="nav-link @{
        isactive=(selectedPage == "/") ? "active" : "";
        @isactive
;
} ">
            <i class="ph-book-bookmark"></i>
            <span>
                Gider
            </span>
        </a>
    </li>
}
@if (User.IsInRole("Laboratuvar » Laboratuvar Ekranı.Read"))
{
    <li class="nav-item">
        <a href="\" class="nav-link @{
        isactive=(selectedPage == "/") ? "active" : "";
        @isactive
;
} ">
            <i class="ph-flask"></i>
            <span>
                Laboratuvar
            </span>
        </a>
    </li>
}
@if (User.IsInRole("Rapor Modülü"))
{
    <li class="nav-item">
        <a href="\" class="nav-link @{
        isactive=(selectedPage == "/") ? "active" : "";
        @isactive
;
} ">
            <i class="ph-chart-pie-slice"></i>
            <span>
                Raporlama
            </span>
        </a>
    </li>
}
@if (User.IsInRole("Ayarlar Modülü » Tanımlamalar"))
{
    <li class="nav-item">
        <a href="\Setting\Tariff" class="nav-link @{
        isactive=(selectedPage == "/Setting/Tariff" || selectedPage == "/Setting/Diagnosis") ? "active" : "";
        @isactive
;
} ">
            <i class="ph-tag"></i>
            <span>
                Tanımlamalar
            </span>
        </a>
    </li>
}
@if (User.IsInRole("Ayarlar Modülü » Ayarlar"))
{
    <li class="nav-item">
        <a href="\" class="nav-link @{
        isactive=(selectedPage == "/") ? "active" : "";
        @isactive
;
} ">
            <i class="ph-wrench"></i>
            <span>
                Ayarlar
            </span>
        </a>
    </li>
}

<li class="nav-item">
    <a href="\" class="nav-link @{
        isactive=(selectedPage == "/") ? "active" : "";
        @isactive
;
} ">
        <i class="ph-house"></i>
        <span>
            Genel Görünüm
        </span>
    </a>
</li>

<li class="nav-item">
    <a href="\" class="nav-link @{
        isactive=(selectedPage == "/") ? "active" : "";
        @isactive
;
} ">
        <i class="ph-sign-out"></i>
        <span>
            Çıkış
        </span>
    </a>
</li>