@{
    var selectedPage = Context.Request.Path;
    string isactive = "";
}
@if (User.IsInRole("admin"))
{
    <li class="nav-item-header pt-0">
        <div class="text-uppercase fs-sm lh-sm opacity-50 sidebar-resize-hide">ADMIN</div>
        <i class="ph-dots-three sidebar-resize-show"></i>
    </li>
    <li class="nav-item">
        <a href="\Home\Index" class="nav-link @{isactive=(selectedPage == "/Home/Index" || selectedPage=="/" ) ? "active" : "";@isactive;} ">
            <i class="ph-house"></i>
            <span>
                Dashboard
                <span class="d-block fw-normal opacity-50">No pending orders</span>
            </span>
        </a>
    </li>
    <li class="nav-item nav-item-submenu">
        <a href="#" class="nav-link">
            <i class="ph-user-focus"></i>
            <span>Kullanıcı İşlemleri</span>
        </a>
        <ul class="nav-group-sub collapse">
            <li class="nav-item"><a href="\Admin\Index" class="nav-link @{isactive=(selectedPage == "/Admin/Index") ? "active" : "";@isactive;}">Kullanıcı Listesi</a></li>
            <li class="nav-item"><a href="\Admin\Rol" class="nav-link @{isactive=(selectedPage == "/Admin/Rol") ? "active" : "";@isactive;}">Rol Listesi</a></li>
            <li class="nav-item"><a href="../../../LTR/clean/full/index.html" class="nav-link">Clean</a></li>
        </ul>
    </li>
}