@using Entities.Concrete;
@{
    ViewData["Title"] = "Diagnosis";
    var selectedPage = Context.Request.Path;
    string isactive = "";
}
@model List<AccountsDiagnozCategories>
@section head {
    <!-- Global stylesheets -->
    <link href="~/content/Limitless-40/assets/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Theme JS files -->
        @*<script src="~/content/Limitless-40/assets/js/jquery/jquery.min.js"></script>*@
    <script src="~/content/Limitless-40/assets/js/vendor/tables/datatables/datatables.min.js"></script>
    <script src="~/content/Limitless-40/assets/js/vendor/tables/datatables/extensions/row_reorder.min.js"></script>
    <script src="~/content/Limitless-40/assets/js/vendor/tables/datatables/extensions/responsive.min.js"></script>
    <script src="~/content/Limitless-40/assets/js/vendor/tables/datatables/extensions/buttons.min.js"></script>
    <script src="~/content/Limitless-40/assets/demo/pages/datatables_extension_buttons_init.js"></script>

    <script src="~/content/Limitless-40/assets/demo/pages/datatables_extension_row_reorder.js"></script>

    <script src="~/content/Limitless-40/assets/js/vendor/forms/selects/select2.min.js"></script>
    <script src="~/content/Limitless-40/assets/demo/pages/form_select2.js"></script>
    <!-- /theme JS files -->
}
<div class="row">
    <div class="page-header page-header-light border rounded mb-3">
        <div class="page-header-content">
            <div class="page-title">
                <h5 class="mb-0">Diagnoz</h5>
            </div>
        </div>

        <div class="page-header-content border-top border-top-primary border-top-width-2">
        </div>
    </div>
</div>

<div class="card card-body">
    <ul class="nav nav-tabs nav-tabs-highlight nav-justified mb-3">

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="ph-user-circle me-1"></i>
                DOKTOR
            </a>
        </li>


        <li class="nav-item">
            <a href="#" class="nav-link ">
                <i class="ph-user-circle me-1"></i>
                KULLANICI
            </a>
        </li>

        <li class="nav-item">
            <a href="\Setting\Tariff" class="nav-link">
                <i class="ph-user-circle me-1"></i>
                TARİFE
            </a>
        </li>

        <li class="nav-item">
            <a href="#js-tab4" class="nav-link @{
                isactive=(selectedPage == "/Setting/Diagnosis") ? "active" : "";
                                                                                @isactive
;
}" data-bs-toggle="tab">
                <i class="ph-user-circle me-1"></i>
                DİAGNOZ
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link ">
                <i class="ph-user-circle me-1"></i>
                RANDEVU TEDAVİ
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link ">
                <i class="ph-user-circle me-1"></i>
                SMS
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link ">
                <i class="ph-user-circle me-1"></i>
                İLAÇ
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link ">
                <i class="ph-user-circle me-1"></i>
                BANKA
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link ">
                <i class="ph-user-circle me-1"></i>
                LABORATUVAR
            </a>
        </li>

    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="js-tab4">
            @*tab içerik başlangış*@
            <div class=" row">
                <div class="col-lg-12">

                    <div class="card border-top border-top-width-3 border-top-primary border-bottom border-bottom-width-3 border-bottom-primary rounded-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <div class="input-group">
                                                <i class="input-group-text fa fa-random"></i>
                                                <select disabled class="form-control select" data-width="1%">
                                                    <option value="">Diagnoz</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="input-group">
                                                <span class="input-group-text fa fa-random"></span>
                                                <select class="form-control select" id="diagnoznamecategory" data-width="1%">
                                                    @if (Model.Count > 0)
                                                    {
                                                        @foreach (AccountsDiagnozCategories item in Model)
                                                        {
                                                            <option value=@item.Id>@item.CategoryName</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option value=0>Kayıt Yok!</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="buton-grup d-flex justify-content-end">
                                            <button type="button" id="btn-default-diagnoz-uygula" class="btn btn-outline-dark">
                                                <i class="fa fa-undo"></i> <span class="hidden-xs">Temel Diagnoz Uygula</span>
                                            </button>
                                            <button type="button" id="btn-new" class="btn btn-outline-primary" style="margin-left: 10px;">
                                                <i class="fa fa-plus"></i> <span class="hidden-xs">Yeni</span>
                                            </button>
                                            <button type="button" id="btn-delete" class="btn btn-outline-danger" style="margin-left: 10px;">
                                                <i class="fa fa-trash"></i>
                                                <span class="hidden-xs">Sil</span>
                                            </button>
                                            <button type="button" id="btn-update" class="btn btn-outline-warning" style="margin-left: 10px;">
                                                <i class="fa fa-pencil-alt"></i> <span class="hidden-xs">Düzelt</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row tanımlamalar-diagnoz-list-widget">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*tab içerik bitiş*@
        </div>
    </div>
</div>
<!-- Yeni Category modal -->
<div id="modal_yenicategory" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            @*<form action="\Setting\CreateAccountCategory" method="post">*@
            <div class="modal-header">
                <h5 class="modal-title">Yeni Kategori</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div class="row mb-3">
                    <label class="col-md-4 col-form-label">Kategori Adı</label>
                    <div class="col-md-8">
                        <input id="modal_yevicategory_name" name="name" type="text" class="form-control">
                        @*<div class="form-text text-muted">Here goes your name</div>*@
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-bs-dismiss="modal">Kapat</button>
                <button id="modal_yevicategory_button" type="button" class="btn btn-primary">Kaydet</button>
            </div>
            @*</form>*@
        </div>
    </div>
</div>
<!-- /Yeni Category modal -->
<!-- Düzelt Category modal -->
<div id="modal_updatecategory" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            @*<form action="\Setting\CreateAccountCategory" method="post">*@
            <div class="modal-header">
                <h5 class="modal-title">Düzelt Kategori</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div class="row mb-3">
                    <label class="col-md-4 col-form-label">Kategori Adı</label>
                    <div class="col-md-8">
                        <input id="modal_updatecategory_name" name="name" type="text" class="form-control">
                        @*<div class="form-text text-muted">Here goes your name</div>*@
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-bs-dismiss="modal">Kapat</button>
                <button id="modal_updatecategory_button" type="button" class="btn btn-primary">Kaydet</button>
            </div>
            @*</form>*@
        </div>
    </div>
</div>
<!-- /Düzelt Category modal -->
<script>
    $(document).ready(function () {
        var firstValue = $("#diagnoznamecategory").val();
        $.ajax({
            async: false,
            url: "/Setting/GetDiagnozListWidget",
            type: "GET",
            data: { categoryId: firstValue },
            success: function (data) {
                $(".tanımlamalar-diagnoz-list-widget").html('');
                $(".tanımlamalar-diagnoz-list-widget").html(data);
            }
        });

        $("#diagnoznamecategory").change(function () {
            var selectedValue = $(this).val();
            $.ajax({
                async: false,
                url: "/Setting/GetDiagnozListWidget",
                type: "GET",
                data: { categoryId: selectedValue },
                success: function (data) {
                    $(".tanımlamalar-diagnoz-list-widget").html('');
                    $(".tanımlamalar-diagnoz-list-widget").html(data);
                }
            });
        });

        $("#btn-default-diagnoz-uygula").click(function () {
            $.ajax({
                async: false,
                url: "/Setting/DiagnozListToDefault",
                type: "POST",
                //data: { categoryId: _categoryId },
                success: function (data) {
                    alert(data);
                    location.reload();
                }
            });
        });

        $("#btn-new").click(function () {
            $("#modal_yenicategory").modal('show');
        });

        $("#modal_yevicategory_button").click(function () {
            var _categoryName = $("#modal_yevicategory_name").val();
            $.ajax({
                async: false,
                url: "/Setting/CreateAccountCategory",
                type: "POST",
                data: { categoryName: _categoryName },
                success: function (data) {
                    alert(data.success);
                    if (data.success == "İşlem Başarılı.") {
                        var option = $("<option></option>").attr("value", data.id).text(_categoryName);
                        $("#diagnoznamecategory").append(option);
                        $("#diagnoznamecategory").val(data.id).change();
                        $("#modal_yenicategory").modal('hide');
                    }
                }
            });
        });

        $("#btn-delete").click(function () {
            var dropdown = document.getElementById("diagnoznamecategory");
            var selectedOption = dropdown.options[dropdown.selectedIndex].text;
            var cevap = confirm(selectedOption + " kategorisinin silinmesine emin misiniz?");
            if (cevap) {
                var nameId = $("#diagnoznamecategory").val();
                $.ajax({
                    async: false,
                    url: "/Setting/DelAccountCategory",
                    type: "POST",
                    data: { id: nameId },
                    success: function (data) {
                        alert(data);

                        var dropdown = document.getElementById("diagnoznamecategory");

                        var selectedValue = nameId;

                        for (var i = 0; i < dropdown.options.length; i++) {
                            if (dropdown.options[i].value === selectedValue) {
                                dropdown.remove(i);
                                if (dropdown.options.length === 0) {
                                    var option = document.createElement("option");
                                    option.text = "Kayıt Yok";
                                    option.value = "0";
                                    dropdown.add(option);
                                }
                                break;
                            }
                        }

                        var value = $("#diagnoznamecategory").val();
                        $.ajax({
                            async: false,
                            url: "/Setting/GetDiagnozListWidget",
                            type: "GET",
                            data: { categoryId: value },
                            success: function (data) {
                                $(".tanımlamalar-diagnoz-list-widget").html('');
                                $(".tanımlamalar-diagnoz-list-widget").html(data);
                            }
                        });
                    }
                });

            }
            else {
                alert("İptal Edildi!");
            }
        });

        $("#btn-update").click(function () {
            
            var dataId = $("#diagnoznamecategory").val(); 
            if(dataId==0){
                alert("Kategori Kayıt Yapılmalı.");
                return;
            }
            $("#modal_updatecategory_name").data("id", dataId);

            var dropdown = document.getElementById("diagnoznamecategory");
            var selectedOption = dropdown.options[dropdown.selectedIndex].text;
            $("#modal_updatecategory_name").val(selectedOption);

            $("#modal_updatecategory").modal('show');
        });

        $("#modal_updatecategory_button").click(function () {
                       
            var dataId = $("#modal_updatecategory_name").data("id");
            var dataName = $("#modal_updatecategory_name").val();

            $.ajax({
                async: false,
                url: "/Setting/UpdateAccountCategory",
                type: "POST",
                data: { categoryId: dataId, categorName: dataName },
                success: function (data) {
                    alert(data);
                    var dropdown = document.getElementById("diagnoznamecategory");
                    
                    var selectedValue = dataId;

                    for (var i = 0; i < dropdown.options.length; i++) {
                        if (dropdown.options[i].value === selectedValue) {
                            //dropdown.options[i].text = dataName; 
                            var option = document.createElement("option");
                            option.text = dataName;
                            option.value = dropdown.options[i].value;
                            dropdown.add(option, i + 1);
                            dropdown.remove(i);
                            $("#diagnoznamecategory").val(dropdown.options[i].value).change();
                            break;
                        }
                    }
                    
                }
            });

            $("#modal_updatecategory").modal('hide');
        });

    });
</script>