@using Entities.Concrete;
@{
    ViewData["Title"] = "Tariff";
    var selectedPage = Context.Request.Path;
    string isactive = "";
}
@section head {
    <!-- Global stylesheets -->
    <link href="~/content/Limitless-40/assets/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">

    <!-- /global stylesheets -->
    <!-- Theme JS files -->
        @*<script src="~/content/Limitless-40/assets/js/jquery/jquery.min.js"></script>*@
    <script src="~/content/Limitless-40/assets/js/vendor/tables/datatables/datatables.min.js"></script>
    <script src="~/content/Limitless-40/assets/js/vendor/tables/datatables/extensions/row_reorder.min.js"></script>
    <script src="~/content/Limitless-40/assets/js/vendor/tables/datatables/extensions/responsive.min.js"></script>
    <script src="~/content/Limitless-40/assets/js/vendor/tables/datatables/extensions/buttons.min.js"></script>
    <script src="~/content/Limitless-40/assets/demo/pages/datatables_extension_buttons_init.js"></script>

    <script src="~/content/Limitless-40/assets/demo/pages/datatables_extension_row_reorder.js"></script>

    <script src="~/content/Limitless-40/assets/js/vendor/forms/selects/select2.min.js"></script>
    <script src="~/content/Limitless-40/assets/demo/pages/form_select2.js"></script>
    <!-- /theme JS files -->
}
@model List<AccountsTariffNames>
<div class="row">
    <div class="page-header page-header-light border rounded mb-3">
        <div class="page-header-content">
            <div class="page-title">
                <h5 class="mb-0">Tarife</h5>
            </div>
        </div>

        <div class="page-header-content border-top border-top-primary border-top-width-2">
        </div>
    </div>
</div>

<div class="card card-body">
    <ul class="nav nav-tabs nav-tabs-highlight nav-justified mb-3">

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="ph-user-circle me-1"></i>
                DOKTOR
            </a>
        </li>


        <li class="nav-item">
            <a href="#" class="nav-link ">
                <i class="ph-user-circle me-1"></i>
                KULLANICI
            </a>
        </li>

        <li class="nav-item">
            <a href="#js-tab3" class="nav-link @{
                isactive=(selectedPage == "/Setting/Tariff") ? "active" : "";
                                                @isactive
;
}" data-bs-toggle="tab">
                <i class="ph-user-circle me-1"></i>
                TARİFE
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link ">
                <i class="ph-user-circle me-1"></i>
                DİAGNOZ
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link ">
                <i class="ph-user-circle me-1"></i>
                RANDEVU TEDAVİ
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link ">
                <i class="ph-user-circle me-1"></i>
                SMS
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link ">
                <i class="ph-user-circle me-1"></i>
                İLAÇ
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link ">
                <i class="ph-user-circle me-1"></i>
                BANKA
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link ">
                <i class="ph-user-circle me-1"></i>
                LABORATUVAR
            </a>
        </li>

    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="js-tab3">
            @*tab içerik başlangış*@
            <div class=" row">
                <div class="col-lg-12">

                    <div class="card border-top border-top-width-3 border-top-primary border-bottom border-bottom-width-3 border-bottom-primary rounded-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <div class="input-group">
                                                <i class="input-group-text fa fa-random"></i>
                                                <select class="form-control select" id="tariffname" data-width="1%">
                                                    @if (Model.Count > 0)
                                                    {
                                                        @foreach (AccountsTariffNames item in Model)
                                                        {
                                                            <option value=@item.Id>@item.TariffName</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option value=0>Kayıt Yok!</option>
                                                    }

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <div class="input-group">
                                                <span class="input-group-text fa fa-random"></span>
                                                <select class="form-control select" id="tariffnamecategory" data-width="1%">
                                                    <option value="option1">Option 1</option>
                                                    <option value="option2">Option 2</option>
                                                    <option value="option3">Option 3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="buton-grup d-flex justify-content-end">
                                            <button type="button" id="btn-tdb-tarife-getir" class="btn btn-outline-dark">
                                                <i class="fa fa-undo"></i> <span class="hidden-xs">TDB Tarife Getir</span>
                                            </button>
                                            <button type="button" id="btn-new" class="btn btn-outline-primary" style="margin-left: 10px;">
                                                <i class="fa fa-plus"></i> <span class="hidden-xs">Yeni Tarife</span>
                                            </button>
                                            <button type="button" id="btn-delete" class="btn btn-outline-danger" style="margin-left: 10px;">
                                                <i class="fa fa-trash"></i>
                                                <span class="hidden-xs">Tarife Sil</span>
                                            </button>
                                            <button type="button" id="btn-update" class="btn btn-outline-warning" style="margin-left: 10px;">
                                                <i class="fa fa-pencil-alt"></i> <span class="hidden-xs">Tarife Düzelt</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row cost-list-widget">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*tab içerik bitiş*@
        </div>
    </div>


</div>

<!-- TDB Fiyat Listesi Uygula modal -->
<div id="modal_tdblist" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">TDB Fiyat Listesi Uygula</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div class="row mb-3" id="modal_tdblisttable-widget">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-bs-dismiss="modal">Kapat</button>
                <button type="button" id="tdbmodalclick" class="btn btn-primary">Uygula</button>
            </div>
        </div>
    </div>
</div>
<!-- /TDB Fiyat Listesi Uygula modal -->
<!-- Yeni Tarife modal -->
<div id="modal_yenitarife" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="\Setting\CreateTariff" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Yeni Tarife</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div class="row mb-3">
                        <label class="col-md-4 col-form-label">Tarife Adı</label>
                        <div class="col-md-8">
                            <input name="name" type="text" class="form-control">
                            @*<div class="form-text text-muted">Here goes your name</div>*@
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-md-4 col-form-label">Aktarılacak Tarife</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                @*<i class="input-group-text fa fa-random"></i>*@
                                <select name="transferredtariff" class="form-control select" id="transferredtariffname" data-width="1%">
                                    @if (Model.Count > 0)
                                    {
                                        @foreach (AccountsTariffNames item in Model)
                                        {
                                            <option value=@item.Id>@item.TariffName</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value=0>Kayıt Yok!</option>
                                    }
                                </select>
                            </div>
                            <div class="form-text text-muted">Yeni tarife, seçilen tarifedeki tedavilerden oluşacak</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-md-4 col-form-label">Fiyat Değişim Oranı</label>
                        <div class="col-md-8">
                            <input name="ratio" type="text" class="form-control">
                            <div class="form-text text-muted">Yeni tarife fiyatlarını yüzdelik oranda toplu güncelleme. Fiyatların aynı kalmasını istiyorsanız boş bırakabilirsiniz</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-md-4 col-form-label"></label>
                        <div class="col-md-8">
                            <input type="radio" name="degisim_turu" id="artir" value="1" tabindex="3" checked>
                            <label>Artır</label>
                            <input type="radio" name="degisim_turu" id="azalt" value="-1" tabindex="3">
                            <label>Azalt</label>
                            @*<div class="form-text text-muted">Here goes your name</div>*@
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Yeni Tarife modal -->
<!--Tarife Düzelt modal -->
<div id="modal_düzelttarife" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="\Setting\UpdateTariff" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Tarife Düzelt</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div class="row mb-3">
                        <label class="col-md-4 col-form-label">Tarife Adı</label>
                        <div class="col-md-8">
                            <input id="update_TariffName" name="name" type="text" class="form-control">
                            <input id="update_TariffId" name="tariff_id" type="hidden" class="form-control">
                            @*<div class="form-text text-muted">Here goes your name</div>*@
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-md-4 col-form-label">Fiyat Değişim Oranı</label>
                        <div class="col-md-8">
                            <input name="ratio" type="text" class="form-control">
                            <div class="form-text text-muted">Yeni tarife fiyatlarını yüzdelik oranda toplu güncelleme. Fiyatların aynı kalmasını istiyorsanız boş bırakabilirsiniz</div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-md-4 col-form-label"></label>
                        <div class="col-md-8">
                            <input type="radio" name="degisim_turu" id="artir" value="1" tabindex="3" checked>
                            <label>Artır</label>
                            <input type="radio" name="degisim_turu" id="azalt" value="-1" tabindex="3">
                            <label>Azalt</label>
                            @*<div class="form-text text-muted">Here goes your name</div>*@
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-bs-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Tarife Düzelt modal -->
<!-- Yeni Tedavi Ekle Modal -->
<div id="modal_yenitedaviekle" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            @* <form action="\Setting\CreateTariff" method="post">*@
            <div class="modal-header">
                <h5 class="modal-title">Yeni Tedavi Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div class="row mb-3">
                    <label class="col-md-4 col-form-label">Tedavi Kategori</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <select class="form-control select" id="yenitedavieklecategory" data-width="1%">
                                <option value=0>Kayıt Yok!</option>
                            </select>
                            @*<div class="form-text text-muted">Here goes your name</div>*@
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-form-label">Tedavi Adı</label>
                    <div class="col-md-8">
                        <input id="yeni-tedavi-ekle-name" type="text" class="form-control">
                        @*<div class="form-text text-muted">Here goes your name</div>*@
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-form-label">Fiyat</label>
                    <div class="col-md-8">
                        <input id="yeni-tadavi-ekle-price" type="number" class="form-control">
                        @*<div class="form-text text-muted">Yeni tarife, seçilen tarifedeki tedavilerden oluşacak</div>*@
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-form-label">KDV</label>
                    <div class="col-md-8">
                        <input id="yeni-tadavi-ekle-vat" type="number" class="form-control">
                        @*<div class="form-text text-muted">Yeni tarife fiyatlarını yüzdelik oranda toplu güncelleme. Fiyatların aynı kalmasını istiyorsanız boş bırakabilirsiniz</div>*@
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-form-label">Masraf</label>
                    <div class="col-md-8">
                        <input id="yeni-tadavi-ekle-cost" type="number" class="form-control">
                        @*<div class="form-text text-muted">Yeni tarife fiyatlarını yüzdelik oranda toplu güncelleme. Fiyatların aynı kalmasını istiyorsanız boş bırakabilirsiniz</div>*@
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-bs-dismiss="modal">Kapat</button>
                <button id="yeni-tedavi-ekle-button" type="button" class="btn btn-primary">Kaydet</button>
            </div>
            @*</form>*@
        </div>
    </div>
</div>
<!-- /Yeni Tedavi Ekle Modal -->
<!-- Tedavi Düzenle Modal -->
<div id="modal_tedaviduzenle" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            @* <form action="\Setting\CreateTariff" method="post">*@
            <div class="modal-header">
                <h5 class="modal-title">Tedavi Düzenle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div class="row mb-3">
                    <label class="col-md-4 col-form-label">Tedavi Kategori</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <select class="form-control select" id="tedaviduzenlecategory" data-width="1%">
                                <option value=0>Kayıt Yok!</option>
                            </select>
                            @*<div class="form-text text-muted">Here goes your name</div>*@
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-form-label">Tedavi Adı</label>
                    <div class="col-md-8">
                        <input id="tedaviduzenlename" type="text" class="form-control">
                        @*<div class="form-text text-muted">Here goes your name</div>*@
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-form-label">Fiyat</label>
                    <div class="col-md-8">
                        <input id="tedaviduzenleprice" type="number" class="form-control">
                        @*<div class="form-text text-muted">Yeni tarife, seçilen tarifedeki tedavilerden oluşacak</div>*@
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-form-label">KDV</label>
                    <div class="col-md-8">
                        <input id="tedaviduzenlevat" type="number" class="form-control">
                        @*<div class="form-text text-muted">Yeni tarife fiyatlarını yüzdelik oranda toplu güncelleme. Fiyatların aynı kalmasını istiyorsanız boş bırakabilirsiniz</div>*@
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-4 col-form-label">Masraf</label>
                    <div class="col-md-8">
                        <input id="tedaviduzenlecost" type="number" class="form-control">
                        @*<div class="form-text text-muted">Yeni tarife fiyatlarını yüzdelik oranda toplu güncelleme. Fiyatların aynı kalmasını istiyorsanız boş bırakabilirsiniz</div>*@
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-bs-dismiss="modal">Kapat</button>
                <button id="tedaviduzenlebutton" type="button" class="btn btn-primary">Kaydet</button>
            </div>
            @*</form>*@
        </div>
    </div>
</div>
<!-- /Tedavi Düzenle Modal -->

<script>
    $(document).ready(function () {
        //tarife category doldurmak için
        var firstValue = $("#tariffname").val();
        fillCategoryDropdown(firstValue, $("#tariffnamecategory"));

        $("#btn-tdb-tarife-getir").click(function () {
            var categoryId = $("#tariffnamecategory").val();
            $.ajax({
                async: false,
                url: "/Setting/GetTdbListModalWidget",
                type: "GET",
                //data: { categoryId: categoryId },
                success: function (data) {
                    $("#modal_tdblisttable-widget").html('');
                    $("#modal_tdblisttable-widget").html(data);
                }
            });
            $("#modal_tdblist").modal('show');
        });

        $("#tdbmodalclick").click(function () {
            const tdb_list = document.querySelector('#TDB-Name');
            const selected_tdb_list = tdb_list.querySelectorAll('.selected');
            if (selected_tdb_list.length == 0) {
                alert("Fiyat Listesi Seçiniz.");
                return;
            }
            //console.log(selected_tdb_list[0].dataset.id);
            //console.log($("#tariffname").val());
            var tariffNameId = $("#tariffname").val();
            var tdbId = selected_tdb_list[0].dataset.id;
            $.ajax({
                async: false,
                url: "/Setting/TariffListToTDBList",
                type: "POST",
                data: { tariffNameId: tariffNameId, tdbId: tdbId },
                success: function (data) {
                    alert(data);
                }
            });
            $("#modal_tdblist").modal('hide');
            location.reload();
        });

        $("#btn-new").click(function () {
            $("#modal_yenitarife").modal('show');
        });

        $("#btn-delete").click(function () {
            var dropdown = document.getElementById("tariffname");
            var selectedOption = dropdown.options[dropdown.selectedIndex].text;
            var cevap = confirm(selectedOption + " tarifesinin silinmesine emin misiniz?");
            if (cevap) {
                var tariffNameId = $("#tariffname").val();
                $.ajax({
                    async: false,
                    url: "/Setting/DelTariffName",
                    type: "POST",
                    data: { id: tariffNameId },
                    success: function (data) {
                        alert(data);

                        var dropdown = document.getElementById("tariffname");
                        var dropdownnewtariff = document.getElementById("transferredtariffname");
                        var selectedValue = tariffNameId;

                        for (var i = 0; i < dropdown.options.length; i++) {
                            if (dropdown.options[i].value === selectedValue) {
                                dropdown.remove(i);
                                if (dropdown.options.length === 0) {
                                    var option = document.createElement("option");
                                    option.text = "Kayıt Yok";
                                    option.value = "0";
                                    dropdown.add(option);
                                }
                                break;
                            }
                        }
                        for (var i = 0; i < dropdownnewtariff.options.length; i++) {
                            if (dropdownnewtariff.options[i].value === selectedValue) {
                                dropdownnewtariff.remove(i);
                                if (dropdownnewtariff.options.length === 0) {
                                    var option = document.createElement("option");
                                    option.text = "Kayıt Yok";
                                    option.value = "0";
                                    dropdownnewtariff.add(option);
                                }
                                break;
                            }
                        }
                        var firstValue = $("#tariffname").val();
                        fillCategoryDropdown(firstValue, $("#tariffnamecategory"));
                    }
                });

            } else {
                alert("İptal Edildi!");
            }
        });

        $("#btn-update").click(function () {
            $("#update_TariffId").val($("#tariffname").val());

            var dropdown = document.getElementById("tariffname");
            var selectedOption = dropdown.options[dropdown.selectedIndex].text;
            $("#update_TariffName").val(selectedOption);

            $("#modal_düzelttarife").modal('show');
        });

        $("#yeni-tedavi-ekle-button").click(function () {
            var yenitedavieklecategory = $("#yenitedavieklecategory").val();
            var yenitedavieklename = $("#yeni-tedavi-ekle-name").val();
            var yenitadaviekleprice = $("#yeni-tadavi-ekle-price").val();
            var yenitadavieklevat = $("#yeni-tadavi-ekle-vat").val();
            var yenitadavieklecost = $("#yeni-tadavi-ekle-cost").val();

            if (yenitedavieklecategory == 0) {
                alert("Kategori Seçilmeli!");
                return;
            }
            if (yenitedavieklename == "") {
                alert("Tedavi Adı Girilmeli!");
                return;
            }
            if (yenitadaviekleprice == "") {
                yenitadaviekleprice = 0;
            }
            if (yenitadavieklevat == "") {
                yenitadavieklevat = 0;
            }
            if (yenitadavieklecost == "") {
                yenitadavieklecost = 0;
            }
            $.ajax({
                async: false,
                url: "/Setting/SetTreatment",
                type: "POST",
                data: { categoryId: yenitedavieklecategory, treatmentName: yenitedavieklename, price: yenitadaviekleprice, vat: yenitadavieklevat, cost: yenitadavieklecost },
                success: function (data) {
                    alert(data);
                }
            });
            var selectedValue = $("#tariffnamecategory").val();
            //console.log(selectedValue);
            $.get("/Setting/GetCostListWidget", { id: selectedValue }, function (data) {
                $(".cost-list-widget").html('');
                $(".cost-list-widget").html(data);
            });
            $("#modal_yenitedaviekle").modal('hide');

        });

        var input = document.getElementById("yeni-tadavi-ekle-vat");
        var input2 = document.getElementById("tedaviduzenlevat");

        input.addEventListener("input", function () {
            var value = input.value;
            value = value.replace(/[.,]/g, "");
            input.value = value;
        });
        input2.addEventListener("input", function () {
            var value = input2.value;
            value = value.replace(/[.,]/g, "");
            input2.value = value;
        });

    });

    $("#tariffname").change(function () {
        var selectedValue = $(this).val();
        fillCategoryDropdown(selectedValue, $("#tariffnamecategory"));
    });

    $("#tariffnamecategory").change(function () {
        var selectedValue = $(this).val();
        //console.log(selectedValue);
        $.get("/Setting/GetCostListWidget", { id: selectedValue }, function (data) {
            $(".cost-list-widget").html('');
            $(".cost-list-widget").html(data);
        });
    });

    function fillCategoryDropdown(selectedValue, dropdownList) {
        dropdownList.empty();
        var dropdownListyenitedavieklecategory = $("#yenitedavieklecategory");
        var dropdownListtedaviduzenlecategory = $("#tedaviduzenlecategory");
        dropdownListtedaviduzenlecategory.empty();
        dropdownListyenitedavieklecategory.empty();
        $.ajax({
            async: false,
            url: "/Setting/GetTariffNameCategories",
            type: "GET",
            data: { id: selectedValue },
            success: function (data) {
                if (data.length == 0) {
                    var option = $("<option></option>").text("Kayıt Yok!").val(0);
                    var option1 = $("<option></option>").text("Kayıt Yok!").val(0);
                    var option2 = $("<option></option>").text("Kayıt Yok!").val(0);
                    dropdownList.append(option);
                    dropdownListyenitedavieklecategory.append(option1);
                    dropdownListtedaviduzenlecategory.append(option2);
                }
                for (var i = 0; i < data.length; i++) {
                    var option = $("<option></option>").text(data[i].categoryName).val(data[i].id);
                    var option1 = $("<option></option>").text(data[i].categoryName).val(data[i].id);
                    var option2 = $("<option></option>").text(data[i].categoryName).val(data[i].id);
                    dropdownList.append(option);
                    dropdownListyenitedavieklecategory.append(option1);
                    dropdownListtedaviduzenlecategory.append(option2);
                }
            }
        });
        var categoryId = $("#tariffnamecategory").val();
        $.get("/Setting/GetCostListWidget", { id: categoryId }, function (data) {
            $(".cost-list-widget").html('');
            $(".cost-list-widget").html(data);
        });
    }
</script>
<script>
    $(document).on('click', '#getcostlistwidgettedavisil', function (e) {
        var tr = $(this).closest('tr');
        var dataId = tr.data('id');

        $.ajax({
            async: false,
            url: "/Setting/DelTreatment",
            type: "POST",
            data: { Id: dataId },
            success: function (data) {
                tr.remove();
            }
        });

        var selectedValue = $("#tariffnamecategory").val();
        //console.log(selectedValue);

        $.get("/Setting/GetCostListWidget", { id: selectedValue }, function (data) {
            $(".cost-list-widget").html('');
            $(".cost-list-widget").html(data);
            alert("İşlem Başarılı.");
        });
    });
</script>
<script>
    $(document).on('click', '#getcostlistwidgettedaviduzenle', function (e) {
        var tr = $(this).closest('tr');
        var dataId = tr.data('id');
        var categoryId = tr.data('categoryid');
        $("#tedaviduzenlecategory").val(categoryId).change();
        var tdValues = [];
        tr.find('td').each(function () {
            var value = $(this).text();
            tdValues.push(value);
        });
        console.log(tdValues);
        $("#tedaviduzenlename").val(tdValues[2]);
        $("#tedaviduzenlename").data("treatmentid", dataId);
        $("#mydiv").data("treatmentid", dataId);
        $("#tedaviduzenleprice").val(tdValues[3].replace(',', '.').replace("₺", ""));
        $("#tedaviduzenlevat").val(tdValues[4]);
        $("#tedaviduzenlecost").val(tdValues[6].replace(',', '.').replace("₺", ""));

        $("#modal_tedaviduzenle").modal('show');

    });

    $(document).on('click', '#tedaviduzenlebutton', function (e) {        
        var _treatmentId = $("#tedaviduzenlename").data("treatmentid");
        var _treatmentName = $("#tedaviduzenlename").val();
        var _price = $("#tedaviduzenleprice").val();
        var _vat = $("#tedaviduzenlevat").val();
        var _cost = $("#tedaviduzenlecost").val();

        $.ajax({
            async: false,
            url: "/Setting/UpdateTreatment",
            type: "POST",
            data: { treatmentId: _treatmentId, treatmentName: _treatmentName, price: _price, vat: _vat, cost: _cost },
            success: function (data) {
                alert(data);;
            }
        });
        var targetRow = $("tr[data-id='" + _treatmentId + "']");

        // Hedef satırın içindeki td öğelerini seçerek verileri güncelleyin
        var pricewithvat = parseFloat(_price) + (parseFloat(_price) / 100 * parseFloat(_vat));

        targetRow.find("td").eq(2).text(_treatmentName);
        _price = _price.replace('.', ',');
        _price = "₺" + _price;
        targetRow.find("td").eq(3).text(_price);
        targetRow.find("td").eq(4).text(_vat);
        pricewithvat = pricewithvat.toString();
        pricewithvat = pricewithvat.replace('.', ',');
        pricewithvat = "₺" + pricewithvat;
        targetRow.find("td").eq(5).text(pricewithvat);
        _cost = _cost.replace('.', ',');
        _cost = "₺" + _cost;
        targetRow.find("td").eq(6).text(_cost);
        $("#modal_tedaviduzenle").modal('hide');

    });
</script>