@{
    ViewData["Title"] = "Index";
}
@section head {
    <!-- Global stylesheets -->
    <link href="~/content/Limitless-40/assets/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
}
<div class="row">
    <div class="page-header page-header-light border rounded mb-3">
        <div class="page-header-content">
            <div class="page-title">
                <h5 class="mb-0">Hasta</h5>
                <div class="text-muted mt-1">Ferhat Işık</div>
            </div>
        </div>

        <div class="page-header-content border-top border-top-primary border-top-width-2">
        </div>
    </div>
</div>

<div class="card card-body">
    <ul class="nav nav-tabs nav-tabs-highlight nav-justified mb-3">
        @if (User.IsInRole("Hasta Modülü » Hasta Ekranı.Read"))
        {
            <li class="nav-item">
                <a href="#js-tab1" class="nav-link active" data-bs-toggle="tab">
                    <i class="ph-user-circle me-2"></i>
                    Hasta
                </a>
            </li>
        }
        @if (User.IsInRole("Hasta Modülü » Tedavi Ekranı.Read"))
        {
            <li class="nav-item">
                <a href="#" class="nav-link ">
                    <i class="ph-user-circle me-2"></i>
                    Tedavi
                </a>
            </li>
        }
        @if (User.IsInRole("Hasta Modülü » Hesap Ekranı.Read"))
        {
            <li class="nav-item">
                <a href="#" class="nav-link ">
                    <i class="ph-user-circle me-2"></i>
                    Hesap
                </a>
            </li>
        }
        @if (User.IsInRole("Hasta Modülü » Fatura Ekranı.Read"))
        {
            <li class="nav-item">
                <a href="#" class="nav-link ">
                    <i class="ph-user-circle me-2"></i>
                    Fatura
                </a>
            </li>
        }
        @if (User.IsInRole("Hasta Modülü » Reçete Ekranı.Read"))
        {
            <li class="nav-item">
                <a href="#" class="nav-link ">
                    <i class="ph-user-circle me-2"></i>
                    Reçete
                </a>
            </li>
        }
        @if (User.IsInRole("Hasta Modülü » Görüntü Ekranı.Read"))
        {
            <li class="nav-item">
                <a href="#" class="nav-link ">
                    <i class="ph-user-circle me-2"></i>
                    Görüntü
                </a>
            </li>
        }
        @if (User.IsInRole("Hasta Modülü » Randevu Ekranı.Read"))
        {
            <li class="nav-item">
                <a href="#" class="nav-link ">
                    <i class="ph-user-circle me-2"></i>
                    Randevu
                </a>
            </li>
        }
    </ul>

    @if (User.IsInRole("Hasta Modülü » Hasta Ekranı.Read"))
    {

        <div class="tab-content">
            <div class="tab-pane fade show active" id="js-tab1">
            @*tab içerik başlangış*@
            <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="card">
                            <div class="card-header bg-primary bg-opacity-10 text-primary">
									<h6 class="mb-0">Hasta Resmi</h6>
								</div>

								<div class="card-body">
									@*------*@
                                <form method="post" enctype="multipart/form-data" id="hasta-resim-form">
                                    <div style="text-align: center;">
                                        @*<div id="onizleme"></div>*@
                                        <img class="hasta-no-photo" src="https://via.placeholder.com/298x224/FFFFFF?text=Resim+Yok" alt="Ferhat Işık" style="border: 2px solid blue; width: 224px; height: 171px;">
                                    </div>
                                    <div>&nbsp;&nbsp</div>
                                    <div style="text-align:center;">
                                        <label class="btn btn-outline-dark">
                                            <i class="fa fa-cloud-upload-alt"></i> Yükle<input type="file" class="hasta-fileUpload" id="btn-yukle" accept="image/*" name="hasta-resim" style="display: none;">
                                        </label>
                                        <button type="button" tabindex="-1" id="btn-kamera" class="btn btn-outline-primary hidden-xs hidden-sm" title="Kamera">
                                            <i class="fa fa-camera fa-fw"></i> Kamera
                                        </button>
                                        <button type="button" tabindex="-1" id="btn-hasta-resim-sil" data-id="3" disabled="" class="btn btn-outline-danger waves-effect waves-light" title="Sil">
                                            <i class="fa fa-trash fa-fw"></i> Sil
                                        </button>
                                    </div>
                                </form>
                                    @*----------*@
								</div>
							</div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="buton-grup d-flex justify-content-end">
                                    <button type="button" id="btn-geri" class="btn btn-outline-dark" style="">
                                        <i class="fa fa-undo"></i> <span class="hidden-xs">Geri Al</span>
                                        </button>
                                    &nbsp;&nbsp;
                                <a href="#" id="btn-yeni" class="btn btn-outline-primary" disabled="disabled" data-toggle="tooltip"><i class="fa fa-plus"></i> <span class="hidden-xs">Yeni</span></a>
                                    &nbsp;&nbsp;
                                <button type="button" id="btn-sil" class="btn btn-outline-danger" disabled="disabled">
                                    <i class="fa fa-trash"></i>
                                    <span class="hidden-xs">Sil</span>
                                </button>
                                    &nbsp;&nbsp;
                                <button type="button" id="btn-degistir" class="btn btn-outline-warning" disabled="disabled"><i class="fa fa-pencil-alt"></i> <span class="hidden-xs">Düzenle</span></button>
                                    &nbsp;&nbsp;
                                <button type="button" id="btn-kaydet" class="btn btn-outline-success" data-islem="hasta-guncelle"><i class="fa fa-save"></i> <span class="hidden-xs">Kaydet</span></button>
                            </div>
                        </div>
                            &nbsp;&nbsp;
                            <div class="card">
                                <div class="card-header bg-primary bg-opacity-10 text-primary">
                                    <h6 class="mb-0">Hasta Bilgileri</h6>
                                </div>

                                <div class="card-body">
                                    @*------------*@
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row mb-3">
                                                <div class="col-lg-8 input-group">
                                                    <label class="col-lg-4 col-form-label text-lg-end">Ad Soyad: </label>
                                                    &nbsp;&nbsp;
                                                    <input type="text" class="form-control" placeholder="col-lg-6">
                                                    <span class="input-group-text"><i class="ph-user-circle"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="row mb-3">
                                                <div class="col-lg-8 input-group">
                                                    <label class="col-lg-4 col-form-label text-lg-end">Diş Hekimi: </label>
                                                    &nbsp;&nbsp;
                                                    <input type="text" class="form-control" placeholder="col-lg-6">
                                                    <span class="input-group-text"><i class="ph-user-circle"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row mb-3">
                                                <div class="col-lg-8 input-group">
                                                    <label class="col-lg-4 col-form-label text-lg-end">Cinsiyet: </label>
                                                    &nbsp;&nbsp;
                                                    <input type="text" class="form-control" placeholder="col-lg-6">
                                                    <span class="input-group-text"><i class="ph-user-circle"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="row mb-3">

                                                <div class="col-lg-8 input-group">
                                                    <label class="col-lg-4 col-form-label text-lg-end">Uyruk: </label>
                                                    &nbsp;&nbsp;
                                                    <input type="text" class="form-control" placeholder="col-lg-6">
                                                    <span class="input-group-text"><i class="ph-user-circle"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row mb-3">
                                                <div class="col-lg-8 input-group">
                                                    <label class="col-lg-4 col-form-label text-lg-end">Doğum Tarihi: </label>
                                                    &nbsp;&nbsp;
                                                    <input type="text" class="form-control" placeholder="col-lg-6">
                                                    <span class="input-group-text"><i class="ph-user-circle"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="row mb-3">
                                                <div class="col-lg-8 input-group">
                                                    <label class="col-lg-4 col-form-label text-lg-end">Tc Kimlik: </label>
                                                    &nbsp;&nbsp;
                                                    <input type="text" class="form-control" placeholder="col-lg-6">
                                                    <span class="input-group-text"><i class="ph-user-circle"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*------------*@
                                </div>                                
                            </div>

                            <div class="card">
                                <div class="card-header bg-primary bg-opacity-10 text-primary">
                                    <h6 class="mb-0">İletişim</h6>
                                </div>

                                <div class="card-body">
                                    @*------------*@
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row mb-3">
                                                <div class="col-lg-8 input-group">
                                                    <label class="col-lg-4 col-form-label text-lg-end">Cep Telefonu: </label>
                                                    &nbsp;&nbsp;
                                                    <input type="text" class="form-control" placeholder="col-lg-6">
                                                    <span class="input-group-text"><i class="ph-user-circle"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="row mb-3">
                                                <div class="col-lg-8 input-group">
                                                    <label class="col-lg-4 col-form-label text-lg-end">Şehir: </label>
                                                    &nbsp;&nbsp;
                                                    <input type="text" class="form-control" placeholder="col-lg-6">
                                                    <span class="input-group-text"><i class="ph-user-circle"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row mb-3">
                                                <div class="col-lg-8 input-group">
                                                    <label class="col-lg-4 col-form-label text-lg-end">Sabit Telefonu: </label>
                                                    &nbsp;&nbsp;
                                                    <input type="text" class="form-control" placeholder="col-lg-6">
                                                    <span class="input-group-text"><i class="ph-user-circle"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="row mb-3">

                                                <div class="col-lg-8 input-group">
                                                    <label class="col-lg-4 col-form-label text-lg-end">İlçe: </label>
                                                    &nbsp;&nbsp;
                                                    <input type="text" class="form-control" placeholder="col-lg-6">
                                                    <span class="input-group-text"><i class="ph-user-circle"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row mb-3">
                                                <div class="col-lg-8 input-group">
                                                    <label class="col-lg-4 col-form-label text-lg-end">Mail Adresi: </label>
                                                    &nbsp;&nbsp;
                                                    <input type="text" class="form-control" placeholder="col-lg-6">
                                                    <span class="input-group-text"><i class="ph-user-circle"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="row mb-3">
                                                <div class="col-lg-8 input-group">
                                                    <label class="col-lg-4 col-form-label text-lg-end">Adres: </label>
                                                    &nbsp;&nbsp;
                                                    <input type="text" class="form-control" placeholder="col-lg-6">
                                                    <span class="input-group-text"><i class="ph-user-circle"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*------------*@
                                </div>
                                </div>
                            <div class="card">
                                <div class="card-header bg-primary bg-opacity-10 text-primary">
                                    <h6 class="mb-0">Ek Bilgiler</h6>
                                </div>

                                <div class="card-body">
                                    @*------------*@
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row mb-3">
                                                <div class="col-lg-8 input-group">
                                                    <label class="col-lg-4 col-form-label text-lg-end">Tarife: </label>
                                                    &nbsp;&nbsp;
                                                    <input type="text" class="form-control" placeholder="col-lg-6">
                                                    <span class="input-group-text"><i class="ph-user-circle"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="row mb-3">
                                                <div class="col-lg-8 input-group">
                                                    <label class="col-lg-4 col-form-label text-lg-end">Kan Grubu: </label>
                                                    &nbsp;&nbsp;
                                                    <input type="text" class="form-control" placeholder="col-lg-6">
                                                    <span class="input-group-text"><i class="ph-user-circle"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row mb-3">
                                                <div class="col-lg-8 input-group">
                                                    <label class="col-lg-4 col-form-label text-lg-end">Tedavi Durumu: </label>
                                                    &nbsp;&nbsp;
                                                    <input type="text" class="form-control" placeholder="col-lg-6">
                                                    <span class="input-group-text"><i class="ph-user-circle"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="row mb-3">

                                                <div class="col-lg-8 input-group">
                                                    <label class="col-lg-4 col-form-label text-lg-end">Kurum Sicil No: </label>
                                                    &nbsp;&nbsp;
                                                    <input type="text" class="form-control" placeholder="col-lg-6">
                                                    <span class="input-group-text"><i class="ph-user-circle"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    @*------------*@
                                </div>
                            </div>
                    </div>

                </div>               
            </div>
            @*tab içerik bitiş*@
        </div>
    </div>

    }
</div>
